.starability-checkmark {
	display: block;
	position: relative;
	width: 150px;
	min-height: 60px;
	padding: 0;
	border: none
/* }
.starability-checkmark>input { */
	/* position: absolute; */
	/* opacity: 0; */
/* } */
/* .starability-checkmark>input:checked~label, .starability-checkmark>input:focus~label, .starability-checkmark>input:hover~label {
	background-position: 0 -30px
} */

.starability-checkmark>label {
	position: relative;
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	background-image: url(../images/icons-checkmark.png);
	background-repeat: no-repeat
}


